.vscode
a.out
tst.rt
.DS_Store
s_tester
libtool/obj/ft_atoi.o
libtool/obj/ft_bzero.o
libtool/obj/ft_calloc.o
libtool/obj/ft_isalnum.o
libtool/obj/ft_isalpha.o
libtool/obj/ft_isascii.o
libtool/obj/ft_isdigit.o
libtool/obj/ft_isprint.o
libtool/obj/ft_isspace.o
libtool/obj/ft_itoa.o
libtool/obj/ft_lstadd_back.o
libtool/obj/ft_lstadd_front.o
libtool/obj/ft_lstclear.o
libtool/obj/ft_lstdelone.o
libtool/obj/ft_lstiter.o
libtool/obj/ft_lstlast.o
libtool/obj/ft_lstmap.o
libtool/obj/ft_lstnew.o
libtool/obj/ft_lstsize.o
libtool/obj/ft_memchr.o
libtool/obj/ft_memcmp.o
libtool/obj/ft_memcpy.o
libtool/obj/ft_memmove.o
libtool/obj/ft_memset.o
libtool/obj/ft_printf.o
libtool/obj/ft_putchar_fd.o
libtool/obj/ft_putendl_fd.o
libtool/obj/ft_putnbr_fd.o
libtool/obj/ft_putstr_fd.o
libtool/obj/ft_split.o
libtool/obj/ft_strchr.o
libtool/obj/ft_strcmp.o
libtool/obj/ft_strdup.o
libtool/obj/ft_striteri.o
libtool/obj/ft_strjoin.o
libtool/obj/ft_strlcat.o
libtool/obj/ft_strlcpy.o
libtool/obj/ft_strlen.o
libtool/obj/ft_strmapi.o
libtool/obj/ft_strncmp.o
libtool/obj/ft_strnstr.o
libtool/obj/ft_strrchr.o
libtool/obj/ft_strtrim.o
libtool/obj/ft_substr.o
libtool/obj/ft_tolower.o
libtool/obj/ft_toupper.o
libtool/obj/get_next_line.o
libtool/obj/print_functions.o
libtool/libft.a
obj/get_next_line/get_next_line.o
obj/get_next_line/get_next_line_utils.o
obj/src/draw/img_utils.o
obj/src/draw/light.o
obj/src/draw/render.o
obj/src/draw/send_rayes.o
obj/src/main.o
obj/src/math/intersection.o
obj/src/math/vecrtors_operations.o
obj/src/math/vecrtors_operations_2.o
obj/src/parss/ft_Alight.o
obj/src/parss/ft_Cam.o
obj/src/parss/ft_cy.o
obj/src/parss/ft_cy_ut.o
obj/src/parss/ft_Light.o
obj/src/parss/ft_pl.o
obj/src/parss/ft_sp.o
obj/src/parss/ft_sp_ut.o
obj/src/parss/list_utils.o
obj/src/parss/my_utils.o
obj/src/parss/parse.o
obj/src/parss/parse2.o
obj/src/parss/parse_utils.o
obj/src/parss/pl_ut.o
obj/src/parss/pt.o
miniRT
